<div class="card-container" [ngClass]="darkmode ? 'black-card' : ''">
  <img
    class="profile-picture"
    src="{{ user.picture.large }}"
    alt="profile-picture"
  />
  <div class="description">
    <div class="name-container">
      <h1>{{ user.name.first }} {{ user.name.last }}</h1>
    </div>
    <div class="country">
      <mat-icon fontSet="material-icons-outlined">person_pin_circle</mat-icon>
      <p>{{ user.location.country }}</p>
    </div>
    <div class="buttons-container">
      <button (click)="swipe.emit('left')">
        <svg
          focusable="false"
          aria-hidden="true"
          role="presentation"
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
          class="close-icon"
        >
          <path
            class=""
            d="m15.44 12 4.768 4.708c1.056.977 1.056 2.441 0 3.499-.813 1.057-2.438 1.057-3.413 0L12 15.52l-4.713 4.605c-.975 1.058-2.438 1.058-3.495 0-1.056-.813-1.056-2.44 0-3.417L8.47 12 3.874 7.271c-1.138-.976-1.138-2.44 0-3.417a1.973 1.973 0 0 1 3.25 0L12 8.421l4.713-4.567c.975-1.139 2.438-1.139 3.413 0 1.057.814 1.057 2.44 0 3.417L15.44 12Z"
          ></path>
        </svg>
      </button>
      <button class="super" (click)="swipe.emit('left')">
        <img src="../../assets/img/superlike.png" alt="" />
      </button>
      <button (click)="swipe.emit('right')">
        <img src="../../assets/img/like.png" alt="" />
      </button>
    </div>
  </div>
</div>
