<div class="page" [ngClass]="darkmode ? 'dark-page' : ''">
  <section class="left-section">
    <div class="header">
      <div class="profile-my-profile">
        <div class="profile-pic">
          <img src="../../assets/img/profil-picture.png" alt="" />
        </div>
        <h1>Mon Profil</h1>
      </div>
      <div (click)="settings = !settings" class="menu">
        <mat-icon>{{ settings ? 'close' : 'tune' }}</mat-icon>
      </div>
    </div>
    <div class="sub-header">
      <div class="let-swipe">
        <div class="icon">
          <img src="../../assets/img/Tinder_(app)-Flame-Logo.wine.png" alt="" />
        </div>
        <div class="text-container">
          <h1>Découvrez de nouveaux Matchs</h1>
          <p>Commence à swiper pour découvrir de nouvelles personnes !</p>
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <h1>Mes choix</h1>
      <div class="favourites-list">
        <div *ngFor="let user of favourites" class="favourites-card">
          <img src="{{ user.picture.medium }}" alt="" />
          <p>{{ user.name.first }}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="right-section">
    <div *ngIf="settings" class="settings-container">
      <div class="left">
        <div class="arrow"></div>
      </div>
      <form [formGroup]="settingsForm" class="right">
      </form>
    </div>
    <div (click)="switchMode()" class="switch-button-container">
      <div [ngClass]="darkmode ? 'switched' : ''" class="switch"></div>
    </div>
    <ng-container *ngFor="let user of users; let i = index">
      <app-tinder-card
        *ngIf="i === index"
        [user]="user"
        [darkmode]="darkmode"
        (swipe)="onSwipe($event, user)"
      ></app-tinder-card>
    </ng-container>
  </section>
</div>
